/* styles.css */

/* Body and general styles */
/* Example: Uncomment and adjust as needed */
/**/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
    background-color: #181313;

}


/* Header styles */
header {
    background-color: #222022;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Container and section styles */
.container {
    display: flex;
    background-color: #222022;

}

section {
    flex: 1;
    padding: 20px;
    margin: 20px;
}

.section-1 {
    background-color: #181313;
}

.section-2 {
    background-color: #181313;
}

/* Video container styles */
.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;   

}

 /* .video-container img {
    max-width: 100%;
    height: auto;
}  */

.circle-video {
    width: 300px; /* Adjust the size as needed */
    height: 300px; /* Adjust the size as needed */
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff; /* Optional: Add a border */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Optional: Add a shadow */
}


/* Button styles */
.button_result {
    width: 450px;
    height: 100px;
    font-weight: 900;
    font-size: 50px;
    margin-top: 15px;
}

.button_result_NC {
    background-color: red;
    width: 250px;
    height: 60px;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    margin-left: 25%;
}

.button-ok {
    background-color: green;
}

.button-not-ok {
    background-color: red;
}

/* Additional styles */
.hrColor {
    color: #e8f3e9;
}

.section_2_h2 {
    text-align: center;
    color: #f4f4f4;
}

/* Specific button styles */
.wheel-type-button328 {
    width: 220px;
    height: 100px;
    font-weight: 900;
    font-size: 50px;
}

.wheel-type-button165 {
    width: 220px;
    height: 100px;
    background-color: #e8f3e9;
    color: #181313;
    font-weight: 900;
    font-size: 50px;
}

/* Add more specific styles as needed */
